@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-primary: #32782B;
    --color-secondary: #10B981;
    --color-accent: #F59E0B;
    --color-background: #F3F4F6;
    --color-text: #1F2937;
}